NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

# Google Drive share links are accepted, for example:
# NEXT_PUBLIC_VIDEO_1_URL=https://drive.google.com/file/d/FILE_ID/view?usp=sharing
NEXT_PUBLIC_VIDEO_1_URL=
NEXT_PUBLIC_VIDEO_2_URL=
